header {
   background-color: white;
   width: 80%;
   position: absolute;
   height: 80px;
   margin-left: 10%;
   margin-top:30px;
   padding-top: 1px;
   padding-bottom: 10px;
   padding-left: 10px;
}

#logo {
  float: left;
  margin-bottom: 20px;
   }
nav {
   float: right;
   text-align: right;
   padding-right: 20px;
   margin-top: 12px;
}

li {
    color: black;
    font-family:"arial", sans-serif;
    font-weight: 750;
   display: inline-block;
   margin-right: 20px;
   padding-bottom: 10px
   margin-bottom: 0;
   /* Set Color */
}

body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}

.pimg1, .pimg2, .pimg3, .pimg4{
  position:relative;
  opacity:1;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}

.pimg1{
  background-image:url('../img/banner-bg.jpg');
  min-height:100%;
}

.pimg2{
  background-image:url('../img/white-bg.jpg');
  min-height:800px;
}

.pimg3{
  background-image:url('../img/spot-bg.jpg');
  min-height:1500px;
}
.pimg4{
  background-image:url('../img/cafe-bg.jpg');
  min-height:1500px;
}
.box-100{
  width: 600px;
  height: 400px;
  float: left;
  margin-left: 100px;
  padding: 20px;
  font-size: 15pt;
  text-align: center;
  background-image: url('../img/airmadidi.jpg');
  border-radius: 20px;
}
.box-200{
  width: 500px;
  height: 400px;
  float: right;
  margin-right: 200px;
  margin-bottom: 200px;
  padding: 20px;
  font-size: 15pt;
  text-align: center;
}

.ptext{
  position:absolute;
  top: 100px;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;

}
.penjelasan-airmadidi{
  text-align: justify;
  font-size: 13pt;
  font-family: playfair-display;
  letter-spacing: 1px;
}
.banner{
  position:absolute;
  top:10%;
  width:100%;
  text-align:center;
  height:100%;
  margin-top:220px;
  font-size:30px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:2.5em;
  color:white;
}
.style-change{
  color:orange;
}
.ptext .border{
  background-color:#111;
  color:black;
}


.ptext .border.trans{
  background-color:transparent;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3 .pimg4{
    background-attachment:scroll;
  }
}
.airmadidi {
  text-align: left;
  margin-bottom: 20px;
  letter-spacing: 2px;
  font-size: 10pt;
}

.button{
  float: left;
  background: orange;
  border: none;
  padding: 8px;
  margin-top: 50px;
  font-size: 13pt;
}
.culinary-spot{
  float: left;
  text-align: left;
  margin-left: 300px;
  margin-bottom: 200px;
  color:white;
  line-height: 0px;
}
.spot1{
  width: 400px;
  height: 400px;
  float: left;
  margin-left: 250px;
  margin-top: 220px;
  padding: 20px;
  font-size: 15pt;
  text-align: center;


}
.foto-spot{
  width: 400px;
  height: 300px;
}
.spot2{
  width: 400px;
  height: 400px;
  float: right;
  margin-right: 250px;
  margin-top: 220px;
  padding: 20px;
  font-size: 15pt;
  text-align: center;
  color: orange;
}
.spot3{
  width: 400px;
  height: 400px;
  float: left;
  margin-left: 250px;
  margin-top: 150px;
  padding: 20px;
  font-size: 15pt;
  text-align: center;
  color: orange;
}
.spot4{
  width: 400px;
  height: 400px;
  float: right;
  margin-right: 250px;
  margin-top: 150px;
  padding: 20px;
  font-size: 15pt;
  text-align: center;
  color: orange;}
.recom1{
  width: 400px;
  height: 300px;
  float: right;
  margin-right: 325px;
  margin-top: 125px;
  padding: 20px;
  font-size: 15pt;
  text-align: center;
  color: orange;
}
.pembatas{
  background-color: white;
  opacity: 0.7;
  height: 250px;
  padding-top: 10px;
  padding-left: 20px;
  border-radius: 5px;
  }
.text-recom1{
  width: 400px;
  height: 300px;
  float: right;
  margin-right: 10px;
  margin-top: 170px;
  padding: 20px;
  font-size: 15pt;
  text-align: center;
}

.recom2{
  width: 400px;
  height: 300px;
  float: left;
  margin-left: 275px;
  margin-top: 125px;
  padding: 20px;
  font-size: 15pt;
  text-align: center;
  color: orange;

}
.text-recom2{
  width: 400px;
  height: 300px;
  float: right;
  margin-right: 240px;
  margin-top: 170px;
  padding: 20px;
  font-size: 15pt;
  text-align: center;
  color:black;
}
.tombol-more{
  text-align: right;
  background-color: orange;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 300px;
  color: white;
  border-radius: 5px;

}
.penjelasan-toko{
  background-color: lightgrey;
  padding: 10px;
  border-radius: 10px;
  margin-top: 35px;
  
}
footer {
   background-color: #330000;
   color: white;
   text-align: center;
   padding: 1px;
   font-size: 20px;
}
